<div class="bg-section bg-section-about paralax-img">
	<h1 class="bg-section-title">O компании</h1>
</div>
<section class="shadow-section">
	<div class="container">
		<h2>Компания Fasad-Pro на рынке строительных услуг — 11 лет</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed dolor dui. Fusce consequat eget ex et elementum. Vivamus pulvinar, odio non ultricies dictum, lacus ipsum accumsan lectus, sed porta dolor justo eget mi. Quisque pulvinar nibh magna, id eleifend eros dapibus eu. Aliquam erat volutpat. Sed eget odio non felis lacinia sagittis in vitae nisl. In fringilla porta ipsum ac rutrum. Nunc porta, enim eget accumsan ultricies, enim ante gravida turpis, vel aliquam justo augue a nulla. Sed pharetra mi dui, in lacinia tortor interdum in. Phasellus dignissim dictum massa, eget iaculis mauris volutpat non.</p>
		<h2>Lorem Ipsum</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed dolor dui. Fusce consequat eget ex et elementum. Vivamus pulvinar, odio non ultricies dictum, lacus ipsum accumsan lectus, sed porta dolor justo eget mi.</p>
	</div>
</section>
<section>
	<div class="container">
		<div class="bg-section bg-section-values">
			<h1 class="bg-section-title">Наши ценности</h1>
		</div>	
		<div class="row value-info">
			<div class="col-xs-12 col-lg-6">
				<h3>Качество</h3>
				<p>Aenean leo lacus, condimentum ut lacinia porta, faucibus in lectus. Nulla auctor maximus faucibus. Sed et nisi mattis ligula ultricies egestas. Morbi pharetra eros ut nulla ornare, cursus pharetra magna cursus. Proin erat magna, lobortis vel gravida vel, vehicula a eros. Fusce eros ex, elementum id viverra non, laoreet quis nisi. Proin suscipit faucibus nunc in hendrerit. Morbi sed erat ut diam porttitor ullamcorper vitae ut magna. Phasellus pharetra finibus erat. Mauris in augue tincidunt, dictum sapien at, efficitur lacus. Ut a elit placerat, eleifend erat in, tincidunt tortor.</p>
			</div>
			<div class="col-xs-12 col-lg-6">
				<h3>Честность</h3>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse at dolor eros. Vivamus non dolor eu sapien tincidunt faucibus. Suspendisse scelerisque neque nec malesuada ultrices. Quisque ut lacus sit amet tortor rutrum suscipit in convallis enim. Donec nec mi in enim accumsan accumsan vitae sed nisi. Ut augue ligula, tristique et libero eleifend, gravida ullamcorper velit. Nullam consequat tempus iaculis. Nullam et enim bibendum, tincidunt lacus ac, gravida sapien.</p>
			</div>
		</div>
		<div class="row value-info">
			<div class="col-xs-12 col-lg-6">
				<h3>Вызов</h3>
				<p>Ut vehicula libero non consectetur rhoncus. Integer cursus convallis eros, vitae tristique tellus. Vestibulum sit amet nunc lacus. Donec eget velit quis nunc tristique laoreet ut non mi. In quis sagittis quam, ut faucibus tellus. Nulla ullamcorper felis nibh, eu aliquet diam malesuada eu. Proin sollicitudin elementum vestibulum.</p>
			</div>
			<div class="col-xs-12 col-lg-6">
				<h3>Гарантия</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim pulvinar tortor id aliquam. Cras bibendum magna sit amet interdum convallis. Suspendisse potenti. Nunc aliquam tellus vitae blandit tincidunt. Donec tortor enim, vehicula quis enim vitae, pulvinar tempus justo. Cras tempor posuere consectetur. Phasellus ut leo sit amet ipsum sollicitudin hendrerit. Nulla massa arcu, mollis eu imperdiet eget, venenatis a dui. Pellentesque eu sagittis augue, eget tempus elit. Aliquam malesuada, nisi quis pharetra eleifend, metus ipsum sollicitudin neque, eget cursus urna elit non tortor. Vivamus non faucibus nisl. Curabitur porttitor scelerisque quam a porta. Proin vel sodales ante. Vivamus diam eros, viverra quis lorem in, gravida sagittis risus. Aliquam erat volutpat. Integer efficitur tincidunt mi vel feugiat.</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<section>
	<div class="container">
		<div class="bg-section bg-section-table">
			<h1 class="bg-section-title">Таблица данных</h1>
		</div>
		<table id="table_id" class="display">
		    <thead>
		        <tr>
		            <th>Дата</th>
		            <th>Количество</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td>Январь 2016</td>
		            <td>1231254</td>
		        </tr>
		        <tr>
		            <td>Февраль 2016</td>
		            <td>34634</td>
		        </tr>
		        <tr>
		            <td>Март 2016</td>
		            <td>34634</td>
		        </tr>
		        <tr>
		            <td>Апрель 2016</td>
		            <td>1543145</td>
		        </tr>
		        <tr>
		            <td>Май 2016</td>
		            <td>1431445</td>
		        </tr>
		        <tr>
		            <td>Июнь 2016</td>
		            <td>34523</td>
		        </tr>
		        <tr>
		            <td>Июль 2016</td>
		            <td>215235</td>
		        </tr>
		        <tr>
		            <td>Август 2016</td>
		            <td>42342</td>
		        </tr>
		        <tr>
		            <td>Сентябрь 2016</td>
		            <td>24324</td>
		        </tr>		
		        <tr>
		            <td>Октябрь 2016</td>
		            <td>42342</td>
		        </tr>
		        <tr>
		            <td>Ноябрь 2016</td>
		            <td>24324</td>
		        </tr>	 
		        <tr>
		            <td>Декабрь 2016</td>
		            <td>24324</td>
		        </tr>      
		    </tbody>
		</table>
	</div>
</section>