<div class="bg-section bg-section-map paralax-img">
	<div id="googleMap"></div>
</div>	
<section class="shadow-section contact-section">
	<div class="container">
		<h2>ООО "Fasad-Pro"</h2>
		<h3>Главный офис</h3>
		<p>Улица Костельная 13, Шевченковский район, Киев</p>
		<p>
			<a href="tel:+380972070005">097-207-00-05</a>
		</p>
		<p>
			<a href="mailto:office@fasad-pro.ua">office@fasad-pro.ua</a>
		</p>
	</div>
</section>	
<script src="build/js/map.js"></script>