<div class="bg-section bg-section-delivery paralax-img">
	<h1 class="bg-section-title">Доставка</h1>
</div>	
<section class="shadow-section">
	<div class="container container-delivery">
		<div class="row">
			<div class="col-lg-4">
				<h3>Звоните</h3>
				<p>Пн - Сб 09:00 - 21:00</p>
			</div>
			<div class="col-lg-8">		
				<p>
					<a href="tel:+380972070005">097-207-00-05</a>
				</p>	
				<p>
					<a href="#" data-toggle="modal" data-target="#myModal">Вам перезвонить?</a>
				</p>	
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h3>Доставка</h3>
				<p>В день заказа или на следующий</p>
			</div>
			<div class="col-lg-8">
				<p>По Киеву — в день заказа или на следующий.<br>Бесплатно при заказе от 100 грн. Если сумма заказа менее 100 грн, стоимость доставки – 30 грн).</p>
				<p>В пригороды Киева — в день заказа или на следующий. 5 гривен за километр от границ Киева. Доставка в Вишневое, Вышгород, Гостомель, Бучу, Ирпень и Бровары — 50 грн.</p>
				<p>В другие города Украины — в течение 3-4 дней. Оплата при получении.</p>			
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h3>Приезжайте</h3>
				<p>Пн - Сб 09:00 - 21:00</p>
			</div>
			<div class="col-lg-8">
				<p>ул.Машиностроительная, 44</p>
				<p>ул.Малиновского 12-a, ТРЦ «Метрополис»</p>					
			</div>
		</div>
	</div>
</section>