
<div class="slideshow" id="slideshow">
	<ol class="slides">
		<li class="current">
			<div class="description container">
				<h1>Утеплению фасадов в Киеве и по всей Украине уже более 11 лет</h1>
			</div>
			<div class="tiltview col">
				<a href="/works"><img src="img/slideshow/1_screen.jpg"/></a>
				<a href="/works"><img src="img/slideshow/2_screen.jpg"/></a>
			</div>
		</li>
		<li>
			<div class="description container">
				<h1>Мы поможем Вам в выборе материалов</h1>
			</div>
			<div class="tiltview row">
				<a href="/works"><img src="img/slideshow/3_mobile.jpg"/></a>
				<a href="/works"><img src="img/slideshow/4_mobile.jpg"/></a>
			</div>
		</li>
		<li>
			<div class="description container">
				<h1>Предоставим профессиональную консультацию</h1>
			</div>
			<div class="tiltview col">
				<a href="/works"><img src="img/slideshow/5_screen.jpg"/></a>
				<a href="/works"><img src="img/slideshow/6_screen.jpg"/></a>
			</div>
		</li>
		<li>
			<div class="description container">
				<h1>И главное — воплотим Вашу идею в результат, которым Вы останетесь довольны!</h1>
			</div>
			<div class="tiltview row">
				<a href="/works"><img src="img/slideshow/8_mobile.jpg"/></a>
				<a href="/works"><img src="img/slideshow/7_mobile.jpg"/></a>
			</div>
		</li>		
	</ol>
</div>
<div class="container">
	<section>	
		<h2>Наша миссия</h2>
		<p>Мы поможем Вам в выборе материалов, предоставим Вам профессиональную консультацию и главное — воплотим Вашу идею в результат, которым Вы останетесь довольны!</p>
		<a class="btn-custom" href="/works">Посмотреть наши работы</a>
	</section>	
	<section>
		<div class="bg-section section-services">
			<h1 class="bg-section-title">Мы предлагаем:</h1>
		</div>		
		<h2>Мы предлагаем:</h2>	
		<ul>
			<li>Ремонт бизнес центров</li>
			<li>Реконструкция и перепланировка</li>
			<li>Составление сметы на ремонт</li>
			<li>Разработка дизайн-проекта</li>
			<li>Покупка и доставка материалов</li>
		</ul>
	</section>
</div>

<script src="lib/tiltedContentSlideshow/js/modernizr.custom.js"></script>
<script src="lib/tiltedContentSlideshow/js/classie.js"></script>
<script src="lib/tiltedContentSlideshow/js/tiltSlider.js"></script>
<script>
	new TiltSlider(document.getElementById("slideshow"));
</script>
