<div class="container container-works" id="worksBlock"></div>
<!-- <div class="row">
	<div class="col-lg-4">
		<h3>Город</h3>
		<p>arr[i].city</p>

		<h3>Дата</h3>
		<p>arr[i].date</p>

		<h3>Материалы</h3>
		<p>arr[i].materials</p>
	</div>
	<div class="col-lg-8">		
		<img src="arr[i].src">
	</div>
</div> -->
<script src="build/js/works.js"></script>